*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #3B3E46;
    height: 60px;
    display: flex;
   position: fixed;
   width: 85%;
   margin-top: 0;
   box-sizing: border-box;
   
}
header h1{
  display: none;
}
.search-input{
    padding-top: 1.4%;
    width: 70%;
    text-align: center;
}
.search-input .icon{
    position: absolute;
    color: white;
}
.icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
    color: rgb(182, 180, 177);
  }
  
  .input-field {
    padding: 6px;
    padding-left: 60px;
    border: none;
    border-radius: 10px 0 0 10px;
    width: 30%;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #2F3238;
    outline: none;
  }
  
  .button-search{
    border-radius : 0px 10px 10px 0;
    background-color: #5663D1;
    margin-left: 0;
    padding: 7px;
    margin-top: 0;
    border: none;
  }

  .my-icons{
    display: flex;
    width: 12%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    gap: 2.6rem;
    color: white;
    color: #5663D1;
  }
  .fa-moon, .fa-regular{
    color: white;
  }
  .btn-logout{
   margin-right: 5px;
    width: 8%;
    margin-top: 0px;
  }
  .count-img{
    border-radius: 50px;
    width: 40px;
    margin-top: 9%;
    margin-right: 60px;
  }
@media screen and (max-width:450px) {
  header{
    width: 100%;
    height: 5rem;
    margin: 0;
    position: fixed;
    top: 0;
  }
  header h1{
    display: flex;
    color: white;
    font-size: 1.1rem;
    width: 30%;
    padding-top: 5%;
    padding-left: 2%;
  }
  .search-input{
    padding-top: 5%;
    width: 45%;  
}
.icon {
  padding: 5px;
  padding-top: 9px;
  min-width: 10px;
}
 .input-field {
    padding: 8px;
    padding-left: 10px;
    width: 60%;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .my-icons{
    width: 25%;
    padding-top: 4.5%;
    margin-left: auto;
    margin-right: auto;
    gap: 1.3rem;
    color: white;
  }
  .fa-video, .fa-bell, .fa-moon{
    display: none;
  }
  .my-icons i {
    width: 50%;
    padding-left: 40%;
  }

}