*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main{
    width: 85%;
    margin-left:15%;
    height: 100vh;
}
Link{
    text-decoration: none;
    width: 23.7%;
}
.card-main{
    display: flex;
    flex-wrap: wrap;
    padding: 2% 1%;
    background-color: #2F3238;
    gap: 1rem;
}
.like{
    width: 23.7%;
}
.like:hover{
    transform: scale(1.1);
    border: 1px solid#3B3E46;
}
/* .card{
    width: 23.7%;
    border: 1px solid white;
} */
.card-image{
    width: 100%;
    height: 50%;
}
.card h3{
    color: white;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid blue;
    height: 70px;
}
.card .chanel-info{
    display: flex;
    border: 1px solid yellowgreen;
}
.card .chanel-info-details{
   display: block;
    padding-left: 5%;
    color: white;
    
}
.chanel-info-details h4{
    /* font-size: 1rem; */
    font-weight: 300;
}
.card .chanel-info-details-more{
    display: flex;
    padding-top: 3%;
    gap: 0.4rem;
}
.chanel-info-details h5{
    font-size: 0.8rem;
    font-weight: 300;
}
@media screen and (max-width:450px) {
    .main{
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        overflow-y: scroll;
    }
}