*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.video-critere{
    background-color: #42464F;
    height: 3.4rem;
    margin-top: 60px;
    
}
.other-critere{
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    margin-left: 3%;
    background-color: #2B2F37;
    color: white;
    font-size: 0.8rem;
}
.all-video{
    padding:8px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 1%;
    margin-left: 1%;
    background-color: #2B2F37;
    color: white;
    font-size: 0.8rem;
}
.all-video:hover, .other-critere:hover{
    background-color: #5663D1;
}
button:active{
    background-color: #1d2025;
}
@media screen  and (max-width:450px) {
    .video-critere{
        padding: 2%;
        margin-top: 77px;
    }
    button, .all-video{
        padding: 2% 4%;
        font-size: 0.8rem;
        margin: 0;
        margin-left: 2%;
        margin-top: 1%;
    }
}   

